@import url(https://db.onlinewebfonts.com/c/6f99c824ca1981d3cf4b7bb6cfc2507b?family=ITC+Eras+Bold);
@font-face {
    font-family: "ITC Eras Bold";
    src: url("https://db.onlinewebfonts.com/t/6f99c824ca1981d3cf4b7bb6cfc2507b.eot");
    src: url("https://db.onlinewebfonts.com/t/6f99c824ca1981d3cf4b7bb6cfc2507b.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6f99c824ca1981d3cf4b7bb6cfc2507b.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/6f99c824ca1981d3cf4b7bb6cfc2507b.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/6f99c824ca1981d3cf4b7bb6cfc2507b.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/6f99c824ca1981d3cf4b7bb6cfc2507b.svg#ITC Eras Bold")format("svg");
}
/* Reset de estilos padrão */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #434E9D;
}
/* Estilizando o cabeçalho (barra de navegação) */
header {
    background-color: #434E9D; /* Cor de fundo da barra de navegação */
    color: #fff; /* Cor do texto */
    padding: 50px 0;
}

/* Estilizando a logo */
.logo img {
    display: block; /* Remove margens indesejadas ao redor da imagem */
    float: left; /* Alinha a logo à esquerda */
    margin-right: 20px; /* Espaço entre a logo e o menu */
    max-width: 250px; /* Define o tamanho máximo da imagem como 100% da largura do contêiner pai */
    margin-top: -30px;
    margin-left: 20px;
    
}

/* Estilizando o menu */
.menu {
    vertical-align: middle; /* Alinha verticalmente com a logo */
    float: right;
}

.menu li {
    margin-right: 220px; /* Espaço entre as opções de menu */
    display: inline; /* Permite que as opções de menu fiquem na mesma linha */
}

.menu a {
    text-decoration: none;
    color: #FFFAD9;
    font-family: "ITC Eras Bold";
    font-size: 18px;
    font-weight: bold;
    position: relative;
    transition: color 0.2s ease; /* Adicione uma transição para a cor do texto */
}

/* Animação ao passar o mouse nas opções de menu */
.menu a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFE7A0;
    transform-origin: right;
    transform: scaleX(1);
    transition: transform 0.2s ease, background-color 0.2s ease, width 0.2s ease; /* Adicione transições */
}

.menu a:hover::after {
    transform: scaleX(0); /* Encolher o traço quando o mouse passar por cima */
    transform-origin: left;
    width: 100%; /* Expandir o traço quando o mouse passar por cima */
    background-color: #FFE7A0; /* Mudar a cor do traço ao passar o mouse */
    transition: transform 0.2s ease, background-color 0.2s ease, width 0.2s ease; /* Adicione transições */
}
/* Estilizando a última opção do menu como um botão */
.menu-button {
    position: relative;
}

.menu-button a {
    background-color: #FFE7A0;
    color: #434E9D;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family:  "ITC Eras Bold";
    
}

.menu-button a:hover {
    background-color: #f3d271;
    
}
.menu-button a::after {
    content: none; /* Remova o conteúdo do traço */
}
#check {
	display: none;
}
.checkbtn{
    display: none;
}
.close-btn {
    display: none;
}
@media (max-width: 1445px){
	#check{
        background-color: none;
    }
    .checkbtn {
        display: flex;
        float: right;
        margin-right: 50px;
        color: #FFE7A0;
        font-size: 30px;
        
	}
    .logo img {
        display: block; /* Remove margens indesejadas ao redor da imagem */
        float: left; /* Alinha a logo à esquerda */
        margin-right: 20px; /* Espaço entre a logo e o menu */
        max-width: 250px; /* Define o tamanho máximo da imagem como 100% da largura do contêiner pai */
        margin-top: -15px;
        margin-left: 30px;
        
    }
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #404a96;
		top: 0px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
	.menu li {
        line-height: 80px;
        display: block;
        margin-left: 0; /* Remova a margem à esquerda */
    }
    
    .menu a {
        text-decoration: none;
        color: #FFFAD9;
        font-family: "ITC Eras Bold";
        font-size: 18px;
        font-weight: bold;
        position: relative;
        transition: color 0.2s ease; /* Adicione uma transição para a cor do texto */
        margin-left: 225px;
        
    }
    .menu-button a{
        color: #404a96;
    }
	#check:checked ~ ul {
		left: 0;
	}
     /* Adicione estilos para o botão de fechar */
     .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
        color: #FFE7A0;
        display: flex;
    }

    /* Estilize o ícone de fechar */
    .close-btn i {
        font-size: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }

    /* Exiba o botão de fechar quando o menu estiver aberto */
    #check:checked + .navbar .close-btn {
        display: flex;
    }
  }